*{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
    font-family: 'Segoe UI';
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    align-items: center;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        column-gap: 35vw;
        border-bottom: 1px solid rgb(219, 219, 219) ;
        padding-bottom: 1vh;
        position: fixed;
        top: 0;
        background-color: white;
        ul:nth-child(1){
            img{
                width: 10vw;
            }
        }
        ul:nth-child(2){
            display: flex;
            justify-content: space-around;
            width: auto;
            column-gap: 2vw;
            align-items: center;
            height: auto;

            img {
                width: 1.5vw;
            }
            #loginPhoto {
                width: 3vw;
            }
            li {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: auto;
                font-size: 1vw;
                button {
                    height: auto;
                    width: auto;
                    padding: 0.5vw;
                    border-radius: 50%;
                    border: none;
                    box-shadow: 6px 6px 24px 3px rgba(34, 60, 80, 0.2);
                }
                a {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: auto;
                    width: auto;
                    column-gap: 1vw;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: auto;
    .centerMain {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 1vw;
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: auto;
            justify-content: space-around;
        }
        ul:nth-child(2){
            li {
                background-image: url('imgs/Photo.png');
                background-repeat: no-repeat;
                background-position: center;
                width: 50vw;
                height: 80vh;
                background-size: 85%;
            }
        }
        ul:nth-child(1){
            row-gap: 20vh;
            li:nth-child(1){
                font-size: 4vw;
            }
            li {
                display: flex;
                justify-content: space-around;
                align-items: center;
                column-gap: 10vw;
                button {
                    text-align: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    height: auto;
                    font-size: 1vw;
                    padding: 1vw;
                    background-color: transparent;
                    border: 1px  solid #FFE145;
                    transition: 0.5s ease-in-out ;
                    border-radius: 10%;
                    cursor: pointer;
                    &:hover {
                        background-color: #FFE145;
                    }
                    p:nth-child(1){
                        font-weight: 600;
                    }
                    p:nth-child(2){
                        font-weight: 300;
                        font-size: 0.7vw;
                    }
                }
            }
        }
    }
}
.deliveryOpis {
    display: flex;
    width: 60vw;
    border: none;
    box-shadow: 6px 6px 24px 3px rgba(34, 60, 80, 0.2);
    align-items: center;
    justify-self: left;
    align-self: flex-start;
    padding: 1vw;
    ul{
        display: flex;
        align-items: center;
        width: auto;
        column-gap: 3vw;
        justify-content: space-around;
        li{
            font-size: 1vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1vw;
            img {
                width: 3vw;
            }
        }
    }
}
.restourantsAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50vh;
    max-width: 100%;
    padding-bottom: 4vh;
    #nazvRest {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        li:nth-child(1){
            font-size: 2vw;
        }
        li:nth-child(2){
            button {
                font-size: 1vw;
                background-color: #F2F4FA;
                border-radius: 10%;
                border: none;
                color: rgb(85, 85, 85);
                transition: 0.5s;
                cursor: pointer;
                padding: 0.5vw;
                &:hover {
                    background-color: #bababa;

                }
            }
        }
    }
    .restourantsHolder {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        row-gap: 4vh;
        height: 40vh;
        width:auto;
        .restourant {
            display: flex;
            flex-direction: row;
            column-gap: 2vw;
            width: auto;
            align-items: center;
            justify-content: space-around;
            ul{
                box-shadow: 6px 6px 24px 3px rgba(34, 60, 80, 0.2);
                width: auto;
                li:nth-child(1){
                    background-image: url('imgs/Photo-base1.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 20vw;
                    height: 12vw;
                }
                li:nth-child(2){
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 1vw;
                    img {
                        width: 8vw;
                    }
                }
            }
        }
        .arrows {
            display: flex;
            width: 103%;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -50%;
            button {
                padding: 0.5vw;
                width: auto;
                padding-left: 0.7vw;
                padding-right: 0.7vw;
                font-size: 1vw;
                border-radius: 50%;
                border:none;
                height: auto;
            }
        }
    }
}
.holderCards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    column-gap: 2vw;
    .restourant:nth-child(2){
        ul{
            li:nth-child(1){
                background-image: url('imgs/Photo-base2.png');
            }
        }
    }
    .restourant:nth-child(3){
        ul{
            li:nth-child(1){
                background-image: url('imgs/Photo-base3.png');
            }
        }
    }
    .restourant:nth-child(4){
        ul{
            li:nth-child(1){
                background-image: url('imgs/Photo-base4.png');
            }
        }
    }
}
.seacrhRestAll{
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-bottom: 4vh;
    max-width: 100%;
    justify-content: space-around;
    background-color: #F2F4FA;
    padding-top: 4vh;
    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85vw;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        ul:nth-child(2){
            column-gap: 1vw;
            button {
                padding: 1vw;
                font-size: 1vw;
                border: none;
                background-color: #FFE145;
                color: #9e8300;
                border-radius: 3%;
            }
            form {
                background-color: #FFFFFF;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1vw;
                column-gap: 1vw;
                border-radius: 3%;
                box-shadow: 6px 6px 24px 3px rgba(34, 60, 80, 0.2);
            }
            input{
                border: none;
                background-color: transparent;
                font-size: 1vw;
            }
        }
        ul:nth-child(1){
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            row-gap: 3vh;
            li {
                width: 20vw;
            }
            li:nth-child(1){
                font-size: 2vw;
                width: 50vw;
                font-weight: 400;
            }
            li:nth-child(2){
                font-size: 1vw;
                font-weight: 300;
            }
        }
    }
}
.specsAll {
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    display: flex;
    padding-top: 4vh;
    #nazvRest {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        li:nth-child(1){
            font-size: 2vw;
        }
        li:nth-child(2){
            button {
                font-size: 1vw;
                background-color: #F2F4FA;
                border-radius: 10%;
                border: none;
                color: rgb(85, 85, 85);
                transition: 0.5s;
                cursor: pointer;
                padding: 0.5vw;
                &:hover {
                    background-color: #bababa;

                }
            }
        }
    }
    .specs {
        display: flex;
        align-items: center;
        width: 85vw;
        flex-direction: column;
        height: 30vh;
        row-gap: 3vh;
        justify-content: space-around;
        #arrows {
            display: flex;
            width: 103%;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -40%;
            button {
                padding: 0.5vw;
                width: auto;
                padding-left: 0.7vw;
                padding-right: 0.7vw;
                font-size: 1vw;
                border-radius: 50%;
                border:none;
                height: auto;
            }
        }
        ul {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            column-gap: 2vw;
        }
        ul:nth-child(1){
            justify-content: space-between;
        }
        ul:nth-child(2){
            li {
                box-shadow: 6px 6px 24px 3px rgba(34, 60, 80, 0.2);
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: auto;
                width: 10vw;
                flex-direction: column;
                row-gap: 1vh;
                column-gap: 1vw;
                padding: 1.5vw;
                font-size: 1vw;
                img {
                    width: 2vw;
                }
            }
        }
    }
}
.lemonsAll {
    display: flex;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    height: 15rem;
    background-image: url('imgs/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    .lemons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85vw;
        height: auto;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                img {
                    width: 7vw;
                }
                p {
                    font-size: 1.5vw;
                    z-index: 100;
                    font-weight: 700;
                    color: #3F4255;
                }
            }

        }
    }
}
.mapAll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
    max-width: 100%;
    
    .map {
        background-image: url('imgs/Map.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        width: 85vw;
        height: 50vh;
    }
}
.instagramAll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    .instagram {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 85vw;
        row-gap: 4vh;
        height: auto;
        ul:nth-child(1){
            display: flex;
            justify-items: flex-start;
            width: 100%;
            p {
                font-size: 2vw;
                span {
                    color: #bcbcbc;
                }
            }
        }
        ul:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            img {
                max-width: 15vw;
                min-width: 100px;
            }
        }
    }
}
.footerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    height: 50vh;
    justify-content: space-around;
    background-color: #3F4255;
    .nizFooter {
        display: flex;
        justify-content: space-between;
        width: 85vw;
        align-items: center;
         color: #ffffff;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 2vw;
            font-size: 1vw;
            a {
                text-decoration: none;
                color: #FFFFFF;
            }
            li {
                display: flex;
                justify-content: space-between;
                width: auto;
                column-gap: 1vw;
                img {
                    width: 1.5vw;
                }
            }
        }
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85vw;
        color: #ffffff;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        ul:nth-child(1){
            row-gap: 5vh;
            li {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                column-gap: 1vw;

            }
            li:nth-child(2){
                img {
                    width: 5vw;
                }
            }
            li:nth-child(1){
                padding-bottom: 2vh;
                border-bottom: 1px solid rgb(196, 196, 196);
                img {
                    width: 10vw;
                }
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: flex-start;
            justify-content: space-around;
            height: auto;
            row-gap: 1vh;
            li:nth-child(1){
                font-size: 1.3vw;
                font-weight: 700;
            }
            li {
                font-size: 1vw;
            }
        }
    }
}
@media screen and (max-width:998px){
    main .centerMain ul:nth-child(2) li {
        height: 400px;
    }
    .restourantsAll {
        height: auto;
        row-gap: 3vh;
        padding-bottom: 3vh;
    }
    .restourantsAll .restourantsHolder {
        row-gap: 2vh;
    }
    header {
        height: auto;
        row-gap: 3vh;
        padding-top: 1vh;
    }
    .restourantsAll .restourantsHolder .restourant ul li:nth-child(2) {
        min-height: 45px;
    }
    .restourantsAll .restourantsHolder {
        width: 85vw;
    }
    .specsAll .specs ul:nth-child(2) li {
        min-width: 60px;
    }
    .specsAll .specs ul:nth-child(2) {
        overflow-x: hidden;
        min-height: 12vh;
        padding: 2vh;
    }
    .specsAll #nazvRest{
        height: auto;
    }
    .specsAll .specs ul:nth-child(2) li {
        font-size: 10px;
        img {
            min-width: 19px;
        }
    }
    .specsAll .specs {
        height: auto;
        row-gap: 2vh;
    }
    .deliveryOpis {
        font-size: 15px;
    }
    .lemonsAll {
        height: auto;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    .mapAll{
        height: 33vh;
    }
    .mapAll .map{
        height: 30vh;
    }
    .instagramAll {
        height: auto;
        row-gap: 2vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    .footerAll {
        height: auto;
        row-gap: 3vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width:768px){
    .restourantsAll .restourantsHolder .restourant ul {
        min-width: 150px;
    }
    .restourantsAll .restourantsHolder .restourant ul li:nth-child(1) {
        width: auto;
    }
    .holderCards {
       flex-wrap:wrap;
       row-gap: 2vh;
    }
    .restourantsAll .restourantsHolder .restourant ul li:nth-child(1) {
        min-height: 90px;
    }
    .restourantsAll .restourantsHolder .restourant ul li:nth-child(2) {
        min-height: 45px;
    }
    .instagramAll .instagram ul:nth-child(2) {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:425px){
    .mapAll .map {
        height: 20vh;
    }
    .mapAll  {
        height: auto;
    }
    main .centerMain ul:nth-child(2) li {
        height: 200px;
    }
    .restourantsAll .restourantsHolder .restourant ul {
        width: 10vw;
        min-width: 35vw;
    }
    .restourantsAll .restourantsHolder .restourant ul li:nth-child(1) {
        min-height: 18vw;
    }
    .restourantsAll .restourantsHolder .restourant ul li:nth-child(2) {
        min-height: 10vw;
    }
    main .centerMain ul:nth-child(1) {
        row-gap: 5vh;
    }
    header nav ul:nth-child(2) li button {
        height: 5vw;
        width: 5vw;
    }
    main .centerMain {
        flex-direction: column;
    }
    main .centerMain ul:nth-child(1) li{
        width: 100%;
    }
}
#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 87vh;
    width: 20vw;
    padding-bottom: 13vh;
    right: 0;
    top: 6.5%;
    z-index: 1;
    position: fixed;
    display: none;
    background-color: rgb(255, 255, 255);
    li:nth-child(7){
        align-self: flex-end;
        border: none;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 80%;
        position: relative;
        top: -20%;
        row-gap: 2vh;
        li:nth-child(1){
            justify-content: space-around;
            align-self: flex-start;
            border: none;
        }
        li:nth-child(2){
            color: #9093A6;
            font-size: 0.7vw;
        }
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
            column-gap: 1vw;
            line-height: 5vh;
            font-size: 1vw;
            border-bottom: 1px #F2F4FA solid;
            a {
                text-decoration: none;
                color: #9093A6;
            }
        }

    }
}
//авторизация, логин с валидацией
#login {

    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    width: auto;
    display: none;
    .my-form {
        display: flex;
        font-size: 1vw;
        height: auto;
        row-gap: 2vh;
        position: absolute;
        flex-direction: column;
        background-color: pink;
        width: auto;
        padding: 2vh;
        button {
            font-size:1vw ;
            background-color: rgb(255, 150, 165);
            border: none;
            padding: 0.5vw;
        }
    }
}
#open_login {
    cursor: pointer;
}